.image {
    margin-right: 50px;
    margin-left: 20px;
}

.button-2 {
    margin-top: 10px;
}

.jumbotron {
    background-image: url(./chess11.jpg);
    background-size: cover;
    height: 640px;
    color: bisque;
    justify-content: center;
    margin-top: 10px;
}

.jumbotron .display-4 {
    text-align: center;
    margin-top: 180px;
    margin-right: -400px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.6);
    font-size: 50px;
}

.jumbotron-content {
    text-align: center;
    margin-right: -400px;
}

.jumbotron-content2 {
    text-align: center;
    margin-right: -400px;
    margin-top: 50px;
}

/* Versi Mobile */
@media only screen and (max-width: 600px) {
    .jumbotron .display-4 {
        margin-top: 90px;
        font-size: 120%;
        font-weight: 500;
        margin-right: 0px;
    }

    .jumbotron-content {
        margin-right: 0px;
    }

    .jumbotron-content2 {
        text-align: center;
        margin-right: 0px;
        margin-top: 50px;
    }
}